.AppStyle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "nova-tarefa tarefas tarefas"
  "cronometro tarefas tarefas"
  ;
  column-gap: 5rem;
  min-width: 320px;
  min-height: calc(100vh - 32px);
  width: auto;
  padding: 32px;
  background-color: #171717;

  @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "nova-tarefa"
      "cronometro"
      "tarefas"
      ;
      column-gap: 1rem;
  }
}